  <footer class="footer">
      <div class="container">
        <%= link_to "FAQ" %>
<%= link_to "Help" %>
<%= link_to "About Us" %>
<i id="social-like" class="icon-likeus" data-content="FB Like Button + Tweet Button"></i>
      </div>
    </footer>